@font-face {
    font-family: 'Graphik LCG';
    src: url('subset-GraphikLCG-Regular.eot');
    src: url('subset-GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-GraphikLCG-Regular.woff2') format('woff2'),
        url('subset-GraphikLCG-Regular.woff') format('woff'),
        url('subset-GraphikLCG-Regular.ttf') format('truetype'),
        url('subset-GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

